# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/*
data/processed/*
data/cache/*
data/bronze/*
data/silver/*
data/gold/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/cache/.gitkeep
!data/bronze/.gitkeep
!data/silver/.gitkeep
!data/gold/.gitkeep

# Models & embeddings
models/
embeddings/

# Outputs
outputs/*
reports/*
!outputs/.gitkeep
!reports/.gitkeep
!reports/*.md

# Environment variables
.env

# CodeCarbon
.codecarbon/
emissions.csv

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
